.topnavbar{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    gap: 10px;
}
#navbar{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
    gap: 10%;
    
}
#navbar a {
  text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    
  }
  button{
    width: 25%;
    height: 20%;
  }


 #login{
    border-radius: 15px;
    height: 33%;
    border-color: rgb(226, 36, 99);
    color: palevioletred;
 }

 #button{
    border-radius: 15px;
    width: 90px;
    height: 33%;
    border-color: rgb(226, 36, 99);
    color: white;
    background-color: palevioletred;
 }

  ul{
    display: flex;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: flex;
    text-align: center;
    padding: 14px 16px;
    
  }
  .input-wrapper{
    display: flex;
    flex-direction: row;
    /* font-size: 30px; */
  }
.explore{
    background-color: rgb(195, 89, 125);
    border-radius: 20px;
    position: absolute;
    border: 3px solid palevioletred;
    color:rgb(214, 197, 197);
    width: 6%;
    height: 5%;
    margin-left: 15%;


    
    
}
.placeholder input{
    width: 165%;
    height: 150%;
    position: relative;
    border-radius: 20px;
}

.Landingpage{
    display: flex;
    margin-left: 10%;
    font-size: 30px;
    color: rgb(23, 23, 60);
    ;
}
.footer{
    display: flex;
    padding: 5%;
    gap: 25%;
    margin-top: 15%;

}
span{
    color: rgb(233, 57, 57);
}
#pic{
    width: 760px;
}
.LandingSubscription{
    display: flex;
    padding: 20px;
    justify-content:space-between;
    font-size: 30px;
    gap: 10%;
}
@media  only screen and (min-width: 280px) and (max-width: 670px) {
  .topnavbar{
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between; */
    /* gap: 10px; */
}
#navbar{
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-between;
  /* gap: 10%; */
  font-size: 12px;
}
.Landingpage{
  flex-wrap: wrap;
  margin-left: 10%;
  font-size: 15px;
  color: rgb(23, 23, 60);
  ;
}
#pic{
  width: 90px;
}
.footer{
  flex-wrap: wrap;
  
  padding: 5%; 
  gap: 25%;
   margin-top: 15%;
}
.placeholder input{
  width: 68%;
  height: 105%;
  position: relative;
  border-radius: 20px;
}
.explore{
  background-color: rgb(195, 89, 125);
  border-radius: 20px;
  position: absolute;
  border: 3px solid palevioletred;
  color:rgb(214, 197, 197);
  width: 15%;
  height: 3%;
  margin-left: 25%;
}
.LandingSubscription{
  display: flex;
  padding: 20px;
  justify-content:space-between;
  font-size: 15px;
  gap: 10%;
}
#login{
  border-radius: 15px;
  height: 30%;
  width: 50px;
  border-color: rgb(226, 36, 99);
  color: palevioletred;
}
#button{
  border-radius: 15px;
  width: 50px;
  height: 35%;
  border-color: rgb(226, 36, 99);
  color: white;
  background-color: palevioletred;
  margin-right: 10px;
}
}

@media  only screen and (min-width: 671px) and (max-width:820px) {
  .topnavbar{
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between; */
    /* gap: 10px; */
}
#navbar{
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-between;
  /* gap: 10%; */
  font-size: 12px;
}
.Landingpage{
  flex-wrap: wrap;
  margin-left: 10%;
  font-size: 15px;
  color: rgb(23, 23, 60);
  ;
}
#pic{
  width: 90px;
}
.footer{
  flex-wrap: wrap;
  
  padding: 5%; 
  gap: 25%;
   margin-top: 15%;
}
.placeholder input{
  width: 68%;
  height: 105%;
  position: relative;
  border-radius: 20px;
}
.explore{
  background-color: rgb(195, 89, 125);
  border-radius: 20px;
  position: absolute;
  border: 3px solid palevioletred;
  color:rgb(214, 197, 197);
  width: 18%;
  height: 6%;
  margin-left: 25%;
}
.LandingSubscription{
  display: flex;
  padding: 20px;
  justify-content:space-between;
  font-size: 15px;
  gap: 10%;
}
#login{
  border-radius: 15px;
  height: 30%;
  width: 50px;
  border-color: rgb(226, 36, 99);
  color: palevioletred;
}
#button{
  border-radius: 15px;
  width: 50px;
  height: 35%;
  border-color: rgb(226, 36, 99);
  color: white;
  background-color: palevioletred;
  margin-right: 10px;
}
}
@media  only screen and (min-width: 821px) and (max-width: 1024px) {
  .topnavbar{
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between; */
    /* gap: 10px; */
}
#navbar{
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-between;
  /* gap: 10%; */
  font-size: 12px;
}
.Landingpage{
  flex-wrap: wrap;
  margin-left: 10%;
  font-size: 15px;
  color: rgb(23, 23, 60);
  ;
}
#pic{
  width: 90px;
}
.footer{
  flex-wrap: wrap;
  
  padding: 5%; 
  gap: 25%;
   margin-top: 15%;
}
.placeholder input{
  width: 68%;
  height: 105%;
  position: relative;
  border-radius: 20px;
}
.explore{
  background-color: rgb(195, 89, 125);
  border-radius: 20px;
  position: absolute;
  border: 3px solid palevioletred;
  color:rgb(214, 197, 197);
  width: 5%;
  height: 6%;
  margin-left: 10%;
}
.LandingSubscription{
  display: flex;
  padding: 20px;
  justify-content:space-between;
  font-size: 15px;
  gap: 10%;
}
#login{
  border-radius: 15px;
  height: 30%;
  width: 50px;
  border-color: rgb(226, 36, 99);
  color: palevioletred;
}
#button{
  border-radius: 15px;
  width: 50px;
  height: 35%;
  border-color: rgb(226, 36, 99);
  color: white;
  background-color: palevioletred;
  margin-right: 10px;
}
}


























